langchain-text-splitters
pypdf                    
chromadb                 
rank-bm25                
fastembed
langchain-huggingface
langchain-core
python-dotenv
huggingface-hub
pyahocorasick
python-multipart
nltk
fastapi
uvicorn